In [1]:
import os
import numpy as np
import pandas as pd

In [ ]:
import tensorflow as tf
tf.test.gpu_device_name()  # yes there is GPU aligned to this #

'/device:GPU:0'

In [2]:
! pip install -q keras

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/drive/My Drive/Datasets/Churn_Modelling.csv")

df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
# We can drop the unwanted features in this data ser suchb as : RowNumber, CustomerId, Surname #

df = df.drop(['RowNumber','CustomerId','Surname'],axis=1)
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [ ]:
# Target variable : Customer has exited the bank or not #

# Converting the categoircal variable into numericals woth dummy encoding #

df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [6]:
m = pd.get_dummies(df[['Geography','Gender']],drop_first=True)
m.head(10)

   Geography_Germany  Geography_Spain  Gender_Male
0                  0                0            0
1                  0                1            0
2                  0                0            0
3                  0                0            0
4                  0                1            0
5                  0                1            1
6                  0                0            1
7                  1                0            0
8                  0                0            1
9                  0                0            1

In [7]:
# Dropping the variables : Gender & Gepgraphy from the df#

X = df.drop(['Geography','Gender'],axis=1)
X.head()

   CreditScore  Age  Tenure  ...  IsActiveMember  EstimatedSalary  Exited
0          619   42       2  ...               1        101348.88       1
1          608   41       1  ...               1        112542.58       0
2          502   42       8  ...               0        113931.57       1
3          699   39       1  ...               0         93826.63       0
4          850   43       2  ...               1         79084.10       0

[5 rows x 9 columns]

In [8]:
# Concaternating the dummy variables and X #

X1 = pd.concat([X,m],axis=1)
X1.head()

   CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
0          619   42       2  ...                  0                0            0
1          608   41       1  ...                  0                1            0
2          502   42       8  ...                  0                0            0
3          699   39       1  ...                  0                0            0
4          850   43       2  ...                  0                1            0

[5 rows x 12 columns]

In [9]:
# Dropping the target variable and creating the depednent & independent variables #
Y= X1['Exited']
Y.head()
X1 = X1.drop(['Exited'],axis=1)
X1.head()

   CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
0          619   42       2  ...                  0                0            0
1          608   41       1  ...                  0                1            0
2          502   42       8  ...                  0                0            0
3          699   39       1  ...                  0                0            0
4          850   43       2  ...                  0                1            0

[5 rows x 11 columns]

In [ ]:
X1.isnull().sum()

CreditScore          0
Age                  0
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Geography_Germany    0
Geography_Spain      0
Gender_Male          0
dtype: int64

In [ ]:
X1.shape

(10000, 11)

In [ ]:
X1 = X1.drop_duplicates()
X1.shape
# Missing values -None
# Duplicates - None
# Checking for redundancy - None
# Feature Engineering- Categorical to Numerical - Done, Feature Scaling -Standard Scalar , Feature reduction- Factor Analysis -Not required#

(10000, 11)

In [12]:
# Feature Scaling -Min Max scaler #

from sklearn.preprocessing import MinMaxScaler
mn1 = MinMaxScaler()
x = pd.DataFrame(mn1.fit_transform(X1), columns=X1.columns)
x.head()

   CreditScore       Age  ...  Geography_Spain  Gender_Male
0        0.538  0.324324  ...              0.0          0.0
1        0.516  0.310811  ...              1.0          0.0
2        0.304  0.324324  ...              0.0          0.0
3        0.698  0.283784  ...              0.0          0.0
4        1.000  0.337838  ...              1.0          0.0

[5 rows x 11 columns]

In [13]:
# Building the ML Models #

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [14]:
# Spitting the data into test and train #
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,Y,test_size=0.2)
print(x_test.shape)
print(y_train.shape)

(2000, 11)
(8000,)

In [ ]:
# Parameters
# min_samples_leaf=#70,60,75,50
# max_leaf_nodes =9,10,11,12,13
# max_depth = 4,5,6,7

In [15]:
# Applying the Decision tree algorithm #
# max_leaf_nodes : maximum no. of leaf nodes allowed (5 and then increase)
#min_samples_leaf: minimum no. of samples in leaf node required for split : (5% of total observations)
#max_depth: max depth of the decision tree (start with 5)
# min_samples_split

dtc = DecisionTreeClassifier(max_depth=4)
mo = dtc.fit(x_train,y_train)
mo

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [16]:
y_pred_train=mo.predict(x_train)
y_pred_train = y_pred_train >0.5
acc = accuracy_score(y_pred_train,y_train)
acc

0.850125

In [17]:

y_pred = mo.predict(x_test)
y_pred  = y_pred>0.5

In [18]:
Acc = accuracy_score(y_pred,y_test)
Acc

0.856

In [19]:
# Random Forest Model #
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=90,max_features=3, min_samples_leaf=70)
rf

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=3,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=70, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=90,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [20]:
mo1 = rf.fit(x_train,y_train)

In [21]:
y_pred_train=mo1.predict(x_train)
y_pred_train = y_pred_train >0.5
acc = accuracy_score(y_pred_train,y_train)
acc

0.85075

In [22]:

y_pred_test = mo1.predict(x_test)

acc = accuracy_score(y_pred_test,y_test)
acc

0.8495

In [ ]:
# Parameters
# min_samples_leaf=#70,60,75,50
# max_leaf_nodes =9,10,11,12,13
# max_depth = 4,5,6,7
# max_features =2,3,4
# n_estimators = 70,80,90,100

In [ ]:
# Hyper parameter tuning along wiht usung the randome forest alforirhm #


params = {'max_depth' :[4,5,6,7],'max_features':[2,3,4],'n_estimators':[70,80,90,100]}

In [ ]:
from sklearn.model_selection import GridSearchCV

r = RandomForestClassifier()
grid1 = GridSearchCV(r,params,cv=5)
mo_gr = grid1.fit(x_train,y_train)

In [ ]:
print(mo_gr.best_score_)  # best score with best parameters #
print(mo_gr.best_params_)
print(mo_gr.best_estimator_)

0.8612500000000001
{'max_depth': 7, 'max_features': 4, 'n_estimators': 70}
RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=7, max_features=4,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=70,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
# grid1 or mo_gr.best_estimator_ is the best trained model (with best parameters) could be used for prediction

In [ ]:
cp = mo_gr.best_estimator_

In [ ]:
# Best parameters : 'max_depth': 5, 'max_features': 4, 'max_leaf_nodes': 12, 'min_samples_leaf': 50, 'n_estimators': 100
# Cross Val Score : 0.865
# test score : 0.848

In [ ]:
estimator = RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=7, max_features=4,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=70,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False) # add the best model #

In [ ]:
# this estimator used above is the one with best params, but it is not a trained model , so it can not be used for testing performamce of test data#

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
score = cross_val_score(estimator,x,Y,cv=15)
score
# cross val_score will try to first train tyhe data and then validate yhe same on tyhe remaining folds #

array([0.86356822, 0.85007496, 0.85757121, 0.87106447, 0.87556222,
       0.86056972, 0.87256372, 0.86056972, 0.85607196, 0.86206897,
       0.87837838, 0.85885886, 0.86486486, 0.84684685, 0.85735736])

In [ ]:
score.mean()

# this shows if we use any random data we can get an avg. accuracy of 0.862

0.8623994309151731

In [ ]:
# So for test data, we need to use trained model, which is grid1 or cp = mo_gr.best_estimator_ both are same
# performancer on test data #
y_pred = cp.predict(x_test)
y_pred = y_pred>0.5
acc = accuracy_score(y_pred,y_test)
acc

# Testing accuracy of 0.87

0.87

In [ ]:
# Building the model with Xgboosting #

## Hyper Parameter Optimization

params={
 "learning_rate"    : [0.05, 0.10, 0.15, 0.20, 0.25, 0.30 ] ,
 "max_depth"        : [ 3, 4, 5, 6, 8, 10],
 "min_child_weight" : [ 1, 3, 5, 7 ],
 "gamma"            : [ 0.0,0.1, 0.2 , 0.3, 0.4 ],
 "colsample_bytree" : [ 0.3, 0.4, 0.5 , 0.7 ]
    
}

In [ ]:
## Hyperparameter optimization using RandomizedSearchCV
from sklearn.model_selection import RandomizedSearchCV
import xgboost

In [ ]:
classifier=xgboost.XGBClassifier()

In [ ]:
random_search=RandomizedSearchCV(classifier,param_distributions=params,n_iter=15,scoring='roc_auc',n_jobs=-1,cv=10,verbose=3)

In [ ]:
def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\n Time taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))

In [ ]:
from datetime import datetime
# Here we go
start_time = timer(None) # timing starts from this point for "start_time" variable
model = random_search.fit(x_train,y_train)
timer(start_time) # timing ends here for "start_time" variable

Fitting 10 folds for each of 15 candidates, totalling 150 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:   10.9s
[Parallel(n_jobs=-1)]: Done 124 tasks      | elapsed:   38.7s
[Parallel(n_jobs=-1)]: Done 150 out of 150 | elapsed:   50.0s finished

 Time taken: 0 hours 0 minutes and 50.53 seconds.

In [ ]:
print(model.best_score_)
print(model.best_params_)
print(model.best_estimator_)

0.8674294477081406
{'min_child_weight': 7, 'max_depth': 4, 'learning_rate': 0.2, 'gamma': 0.1, 'colsample_bytree': 0.7}
XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.7, gamma=0.1,
              learning_rate=0.2, max_delta_step=0, max_depth=4,
              min_child_weight=7, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
cp = model.best_estimator_
cp

In [ ]:
m = xgboost.XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.7, gamma=0.1,
              learning_rate=0.2, max_delta_step=0, max_depth=4,
              min_child_weight=7, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
# checking the average accuracy with this parameters #

score = cross_val_score(m,x_train,y_train,cv=20)
score
score.mean()

# Accuracy of 86.62% on any randomly selected data #

0.86625

In [ ]:
# testing model of random forest #

y_pred_test = cp.predict(x_test)

y_pred_test = y_pred_test >0.5

acc = accuracy_score(y_pred_test,y_test)

print(acc)


# test_accuracy :0.87 which is best accuracy so far #

0.87

In [23]:
# Building the keras classifier Model #
import keras
from keras.models import Sequential
from keras.layers import LeakyReLU, PReLU, ELU
from keras.layers import Dropout
from keras.layers import Activation, Dense

Using TensorFlow backend.

In [87]:
# Lets add the 1st hidden layer into tyhe neural network #
# input_dim = 11 no. of variable, units = (11+1)/2 =6
classifier = Sequential()

classifier.add(Dense(units=20, kernel_initializer='he_normal', activation='relu',input_dim=11))

In [88]:
 # Lets add the 2nd hidden layer into tyhe neural network # # generally we keep he_unform or he_normal for activation function relu

classifier.add(Dense(units=15, kernel_initializer='he_normal',activation='relu'))

In [89]:
## lets add the output layer into this neural network #
# sigmoid for binary class classification or we csn also use 'tanh'
classifier.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

In [90]:
# Compiling the model #

classifier.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [91]:
# Fitting the model #

model = classifier.fit(x_train,y_train,batch_size=10,epochs=100,validation_split=0.25)

Train on 6000 samples, validate on 2000 samples
Epoch 1/100
6000/6000 [==============================] - 2s 374us/step - loss: 0.5069 - accuracy: 0.7897 - val_loss: 0.4812 - val_accuracy: 0.7920
Epoch 2/100
6000/6000 [==============================] - 2s 326us/step - loss: 0.4611 - accuracy: 0.7988 - val_loss: 0.4590 - val_accuracy: 0.8040
Epoch 3/100
6000/6000 [==============================] - 2s 367us/step - loss: 0.4410 - accuracy: 0.8117 - val_loss: 0.4468 - val_accuracy: 0.8135
Epoch 4/100
6000/6000 [==============================] - 2s 329us/step - loss: 0.4292 - accuracy: 0.8177 - val_loss: 0.4449 - val_accuracy: 0.8135
Epoch 5/100
6000/6000 [==============================] - 2s 366us/step - loss: 0.4229 - accuracy: 0.8213 - val_loss: 0.4359 - val_accuracy: 0.8210
Epoch 6/100
6000/6000 [==============================] - 2s 332us/step - loss: 0.4162 - accuracy: 0.8237 - val_loss: 0.4395 - val_accuracy: 0.8145
Epoch 7/100
6000/6000 [==============================] - 2s 349us/step - loss: 0.4124 - accuracy: 0.8285 - val_loss: 0.4294 - val_accuracy: 0.8220
Epoch 8/100
6000/6000 [==============================] - 2s 351us/step - loss: 0.4068 - accuracy: 0.8285 - val_loss: 0.4260 - val_accuracy: 0.8225
Epoch 9/100
6000/6000 [==============================] - 2s 360us/step - loss: 0.4003 - accuracy: 0.8305 - val_loss: 0.4196 - val_accuracy: 0.8255
Epoch 10/100
6000/6000 [==============================] - 2s 368us/step - loss: 0.3936 - accuracy: 0.8383 - val_loss: 0.4136 - val_accuracy: 0.8275
Epoch 11/100
6000/6000 [==============================] - 2s 335us/step - loss: 0.3869 - accuracy: 0.8387 - val_loss: 0.4079 - val_accuracy: 0.8245
Epoch 12/100
6000/6000 [==============================] - 2s 340us/step - loss: 0.3802 - accuracy: 0.8432 - val_loss: 0.4040 - val_accuracy: 0.8245
Epoch 13/100
6000/6000 [==============================] - 2s 408us/step - loss: 0.3751 - accuracy: 0.8435 - val_loss: 0.3960 - val_accuracy: 0.8320
Epoch 14/100
6000/6000 [==============================] - 2s 349us/step - loss: 0.3690 - accuracy: 0.8470 - val_loss: 0.3945 - val_accuracy: 0.8325
Epoch 15/100
6000/6000 [==============================] - 2s 328us/step - loss: 0.3650 - accuracy: 0.8518 - val_loss: 0.3869 - val_accuracy: 0.8335
Epoch 16/100
6000/6000 [==============================] - 2s 328us/step - loss: 0.3615 - accuracy: 0.8498 - val_loss: 0.3852 - val_accuracy: 0.8365
Epoch 17/100
6000/6000 [==============================] - 2s 339us/step - loss: 0.3575 - accuracy: 0.8512 - val_loss: 0.3846 - val_accuracy: 0.8375
Epoch 18/100
6000/6000 [==============================] - 2s 332us/step - loss: 0.3572 - accuracy: 0.8522 - val_loss: 0.3801 - val_accuracy: 0.8395
Epoch 19/100
6000/6000 [==============================] - 2s 341us/step - loss: 0.3546 - accuracy: 0.8542 - val_loss: 0.3798 - val_accuracy: 0.8400
Epoch 20/100
6000/6000 [==============================] - 2s 329us/step - loss: 0.3531 - accuracy: 0.8542 - val_loss: 0.3817 - val_accuracy: 0.8410
Epoch 21/100
6000/6000 [==============================] - 2s 346us/step - loss: 0.3518 - accuracy: 0.8530 - val_loss: 0.3756 - val_accuracy: 0.8425
Epoch 22/100
6000/6000 [==============================] - 2s 352us/step - loss: 0.3505 - accuracy: 0.8560 - val_loss: 0.3766 - val_accuracy: 0.8455
Epoch 23/100
6000/6000 [==============================] - 2s 339us/step - loss: 0.3492 - accuracy: 0.8587 - val_loss: 0.3724 - val_accuracy: 0.8435
Epoch 24/100
6000/6000 [==============================] - 2s 332us/step - loss: 0.3474 - accuracy: 0.8535 - val_loss: 0.3736 - val_accuracy: 0.8420
Epoch 25/100
6000/6000 [==============================] - 2s 328us/step - loss: 0.3468 - accuracy: 0.8548 - val_loss: 0.3781 - val_accuracy: 0.8425
Epoch 26/100
6000/6000 [==============================] - 2s 376us/step - loss: 0.3448 - accuracy: 0.8548 - val_loss: 0.3716 - val_accuracy: 0.8460
Epoch 27/100
6000/6000 [==============================] - 2s 335us/step - loss: 0.3443 - accuracy: 0.8545 - val_loss: 0.3711 - val_accuracy: 0.8420
Epoch 28/100
6000/6000 [==============================] - 2s 333us/step - loss: 0.3436 - accuracy: 0.8560 - val_loss: 0.3872 - val_accuracy: 0.8445
Epoch 29/100
6000/6000 [==============================] - 2s 352us/step - loss: 0.3424 - accuracy: 0.8570 - val_loss: 0.3770 - val_accuracy: 0.8400
Epoch 30/100
6000/6000 [==============================] - 2s 350us/step - loss: 0.3412 - accuracy: 0.8580 - val_loss: 0.3730 - val_accuracy: 0.8385
Epoch 31/100
6000/6000 [==============================] - 2s 342us/step - loss: 0.3396 - accuracy: 0.8587 - val_loss: 0.3819 - val_accuracy: 0.8375
Epoch 32/100
6000/6000 [==============================] - 2s 336us/step - loss: 0.3401 - accuracy: 0.8568 - val_loss: 0.3713 - val_accuracy: 0.8510
Epoch 33/100
6000/6000 [==============================] - 2s 349us/step - loss: 0.3395 - accuracy: 0.8575 - val_loss: 0.3671 - val_accuracy: 0.8500
Epoch 34/100
6000/6000 [==============================] - 2s 336us/step - loss: 0.3393 - accuracy: 0.8577 - val_loss: 0.3646 - val_accuracy: 0.8530
Epoch 35/100
6000/6000 [==============================] - 2s 327us/step - loss: 0.3384 - accuracy: 0.8590 - val_loss: 0.3657 - val_accuracy: 0.8530
Epoch 36/100
6000/6000 [==============================] - 2s 330us/step - loss: 0.3369 - accuracy: 0.8613 - val_loss: 0.3695 - val_accuracy: 0.8465
Epoch 37/100
6000/6000 [==============================] - 2s 347us/step - loss: 0.3354 - accuracy: 0.8588 - val_loss: 0.3699 - val_accuracy: 0.8445
Epoch 38/100
6000/6000 [==============================] - 2s 349us/step - loss: 0.3360 - accuracy: 0.8603 - val_loss: 0.3629 - val_accuracy: 0.8510
Epoch 39/100
6000/6000 [==============================] - 2s 360us/step - loss: 0.3327 - accuracy: 0.8582 - val_loss: 0.3642 - val_accuracy: 0.8525
Epoch 40/100
6000/6000 [==============================] - 2s 342us/step - loss: 0.3347 - accuracy: 0.8627 - val_loss: 0.3646 - val_accuracy: 0.8530
Epoch 41/100
6000/6000 [==============================] - 2s 359us/step - loss: 0.3332 - accuracy: 0.8610 - val_loss: 0.3610 - val_accuracy: 0.8515
Epoch 42/100
6000/6000 [==============================] - 2s 331us/step - loss: 0.3312 - accuracy: 0.8587 - val_loss: 0.3593 - val_accuracy: 0.8510
Epoch 43/100
6000/6000 [==============================] - 2s 335us/step - loss: 0.3311 - accuracy: 0.8625 - val_loss: 0.3612 - val_accuracy: 0.8535
Epoch 44/100
6000/6000 [==============================] - 2s 344us/step - loss: 0.3313 - accuracy: 0.8600 - val_loss: 0.3614 - val_accuracy: 0.8515
Epoch 45/100
6000/6000 [==============================] - 2s 334us/step - loss: 0.3318 - accuracy: 0.8582 - val_loss: 0.3586 - val_accuracy: 0.8550
Epoch 46/100
6000/6000 [==============================] - 2s 334us/step - loss: 0.3296 - accuracy: 0.8630 - val_loss: 0.3628 - val_accuracy: 0.8535
Epoch 47/100
6000/6000 [==============================] - 2s 343us/step - loss: 0.3312 - accuracy: 0.8625 - val_loss: 0.3597 - val_accuracy: 0.8510
Epoch 48/100
6000/6000 [==============================] - 2s 335us/step - loss: 0.3295 - accuracy: 0.8608 - val_loss: 0.3624 - val_accuracy: 0.8545
Epoch 49/100
6000/6000 [==============================] - 2s 345us/step - loss: 0.3289 - accuracy: 0.8625 - val_loss: 0.3582 - val_accuracy: 0.8540
Epoch 50/100
6000/6000 [==============================] - 2s 337us/step - loss: 0.3269 - accuracy: 0.8632 - val_loss: 0.3620 - val_accuracy: 0.8505
Epoch 51/100
6000/6000 [==============================] - 2s 335us/step - loss: 0.3268 - accuracy: 0.8640 - val_loss: 0.3612 - val_accuracy: 0.8525
Epoch 52/100
6000/6000 [==============================] - 2s 342us/step - loss: 0.3277 - accuracy: 0.8627 - val_loss: 0.3607 - val_accuracy: 0.8495
Epoch 53/100
6000/6000 [==============================] - 2s 335us/step - loss: 0.3257 - accuracy: 0.8632 - val_loss: 0.3601 - val_accuracy: 0.8545
Epoch 54/100
6000/6000 [==============================] - 2s 342us/step - loss: 0.3267 - accuracy: 0.8645 - val_loss: 0.3593 - val_accuracy: 0.8520
Epoch 55/100
6000/6000 [==============================] - 2s 333us/step - loss: 0.3260 - accuracy: 0.8647 - val_loss: 0.3671 - val_accuracy: 0.8500
Epoch 56/100
6000/6000 [==============================] - 2s 332us/step - loss: 0.3247 - accuracy: 0.8638 - val_loss: 0.3624 - val_accuracy: 0.8530
Epoch 57/100
6000/6000 [==============================] - 2s 343us/step - loss: 0.3249 - accuracy: 0.8637 - val_loss: 0.3570 - val_accuracy: 0.8525
Epoch 58/100
6000/6000 [==============================] - 2s 349us/step - loss: 0.3241 - accuracy: 0.8645 - val_loss: 0.3638 - val_accuracy: 0.8510
Epoch 59/100
6000/6000 [==============================] - 2s 357us/step - loss: 0.3246 - accuracy: 0.8617 - val_loss: 0.3575 - val_accuracy: 0.8545
Epoch 60/100
6000/6000 [==============================] - 2s 353us/step - loss: 0.3229 - accuracy: 0.8650 - val_loss: 0.3578 - val_accuracy: 0.8545
Epoch 61/100
6000/6000 [==============================] - 2s 333us/step - loss: 0.3241 - accuracy: 0.8633 - val_loss: 0.3573 - val_accuracy: 0.8520
Epoch 62/100
6000/6000 [==============================] - 2s 337us/step - loss: 0.3229 - accuracy: 0.8655 - val_loss: 0.3599 - val_accuracy: 0.8520
Epoch 63/100
6000/6000 [==============================] - 2s 336us/step - loss: 0.3219 - accuracy: 0.8652 - val_loss: 0.3566 - val_accuracy: 0.8540
Epoch 64/100
6000/6000 [==============================] - 2s 340us/step - loss: 0.3221 - accuracy: 0.8645 - val_loss: 0.3575 - val_accuracy: 0.8505
Epoch 65/100
6000/6000 [==============================] - 2s 337us/step - loss: 0.3202 - accuracy: 0.8658 - val_loss: 0.3536 - val_accuracy: 0.8510
Epoch 66/100
6000/6000 [==============================] - 2s 342us/step - loss: 0.3214 - accuracy: 0.8658 - val_loss: 0.3606 - val_accuracy: 0.8500
Epoch 67/100
6000/6000 [==============================] - 2s 339us/step - loss: 0.3212 - accuracy: 0.8655 - val_loss: 0.3618 - val_accuracy: 0.8510
Epoch 68/100
6000/6000 [==============================] - 2s 353us/step - loss: 0.3207 - accuracy: 0.8650 - val_loss: 0.3599 - val_accuracy: 0.8520
Epoch 69/100
6000/6000 [==============================] - 2s 330us/step - loss: 0.3203 - accuracy: 0.8638 - val_loss: 0.3567 - val_accuracy: 0.8525
Epoch 70/100
6000/6000 [==============================] - 2s 344us/step - loss: 0.3193 - accuracy: 0.8633 - val_loss: 0.3578 - val_accuracy: 0.8540
Epoch 71/100
6000/6000 [==============================] - 2s 332us/step - loss: 0.3208 - accuracy: 0.8627 - val_loss: 0.3554 - val_accuracy: 0.8525
Epoch 72/100
6000/6000 [==============================] - 2s 335us/step - loss: 0.3186 - accuracy: 0.8650 - val_loss: 0.3569 - val_accuracy: 0.8510
Epoch 73/100
6000/6000 [==============================] - 2s 334us/step - loss: 0.3184 - accuracy: 0.8647 - val_loss: 0.3594 - val_accuracy: 0.8510
Epoch 74/100
6000/6000 [==============================] - 2s 336us/step - loss: 0.3184 - accuracy: 0.8678 - val_loss: 0.3591 - val_accuracy: 0.8500
Epoch 75/100
6000/6000 [==============================] - 2s 331us/step - loss: 0.3178 - accuracy: 0.8653 - val_loss: 0.3622 - val_accuracy: 0.8500
Epoch 76/100
6000/6000 [==============================] - 2s 338us/step - loss: 0.3179 - accuracy: 0.8630 - val_loss: 0.3576 - val_accuracy: 0.8500
Epoch 77/100
6000/6000 [==============================] - 2s 354us/step - loss: 0.3172 - accuracy: 0.8662 - val_loss: 0.3615 - val_accuracy: 0.8475
Epoch 78/100
6000/6000 [==============================] - 2s 336us/step - loss: 0.3170 - accuracy: 0.8678 - val_loss: 0.3589 - val_accuracy: 0.8525
Epoch 79/100
6000/6000 [==============================] - 2s 341us/step - loss: 0.3162 - accuracy: 0.8675 - val_loss: 0.3612 - val_accuracy: 0.8525
Epoch 80/100
6000/6000 [==============================] - 2s 334us/step - loss: 0.3159 - accuracy: 0.8647 - val_loss: 0.3695 - val_accuracy: 0.8510
Epoch 81/100
6000/6000 [==============================] - 2s 346us/step - loss: 0.3166 - accuracy: 0.8648 - val_loss: 0.3664 - val_accuracy: 0.8535
Epoch 82/100
6000/6000 [==============================] - 2s 336us/step - loss: 0.3165 - accuracy: 0.8668 - val_loss: 0.3601 - val_accuracy: 0.8510
Epoch 83/100
6000/6000 [==============================] - 2s 350us/step - loss: 0.3150 - accuracy: 0.8683 - val_loss: 0.3614 - val_accuracy: 0.8505
Epoch 84/100
6000/6000 [==============================] - 2s 342us/step - loss: 0.3151 - accuracy: 0.8662 - val_loss: 0.3657 - val_accuracy: 0.8510
Epoch 85/100
6000/6000 [==============================] - 2s 356us/step - loss: 0.3142 - accuracy: 0.8685 - val_loss: 0.3623 - val_accuracy: 0.8485
Epoch 86/100
6000/6000 [==============================] - 2s 342us/step - loss: 0.3145 - accuracy: 0.8678 - val_loss: 0.3614 - val_accuracy: 0.8485
Epoch 87/100
6000/6000 [==============================] - 2s 367us/step - loss: 0.3140 - accuracy: 0.8660 - val_loss: 0.3587 - val_accuracy: 0.8515
Epoch 88/100
6000/6000 [==============================] - 2s 354us/step - loss: 0.3147 - accuracy: 0.8665 - val_loss: 0.3595 - val_accuracy: 0.8510
Epoch 89/100
6000/6000 [==============================] - 2s 347us/step - loss: 0.3156 - accuracy: 0.8660 - val_loss: 0.3619 - val_accuracy: 0.8490
Epoch 90/100
6000/6000 [==============================] - 2s 369us/step - loss: 0.3145 - accuracy: 0.8635 - val_loss: 0.3578 - val_accuracy: 0.8495
Epoch 91/100
6000/6000 [==============================] - 2s 353us/step - loss: 0.3137 - accuracy: 0.8673 - val_loss: 0.3624 - val_accuracy: 0.8480
Epoch 92/100
6000/6000 [==============================] - 2s 354us/step - loss: 0.3130 - accuracy: 0.8660 - val_loss: 0.3636 - val_accuracy: 0.8480
Epoch 93/100
6000/6000 [==============================] - 2s 340us/step - loss: 0.3131 - accuracy: 0.8667 - val_loss: 0.3656 - val_accuracy: 0.8505
Epoch 94/100
6000/6000 [==============================] - 2s 337us/step - loss: 0.3136 - accuracy: 0.8662 - val_loss: 0.3612 - val_accuracy: 0.8530
Epoch 95/100
6000/6000 [==============================] - 2s 352us/step - loss: 0.3115 - accuracy: 0.8648 - val_loss: 0.3640 - val_accuracy: 0.8465
Epoch 96/100
6000/6000 [==============================] - 2s 349us/step - loss: 0.3122 - accuracy: 0.8687 - val_loss: 0.3620 - val_accuracy: 0.8520
Epoch 97/100
6000/6000 [==============================] - 2s 334us/step - loss: 0.3108 - accuracy: 0.8683 - val_loss: 0.3615 - val_accuracy: 0.8500
Epoch 98/100
6000/6000 [==============================] - 2s 353us/step - loss: 0.3107 - accuracy: 0.8698 - val_loss: 0.3661 - val_accuracy: 0.8510
Epoch 99/100
6000/6000 [==============================] - 2s 364us/step - loss: 0.3112 - accuracy: 0.8680 - val_loss: 0.3656 - val_accuracy: 0.8485
Epoch 100/100
6000/6000 [==============================] - 2s 353us/step - loss: 0.3100 - accuracy: 0.8693 - val_loss: 0.3609 - val_accuracy: 0.8520

In [75]:
# Train accuracy =0.8693, validation accuracy=0.8520 after 100 epochs #

In [ ]:
# Currently we are testting the model for test data set with model with 50 epochs

In [92]:
# predicting the performance of this model #

from sklearn.metrics import accuracy_score

from sklearn.metrics import confusion_matrix

Y_pred = classifier.predict(x_test) # output is in the form of an array #

In [93]:
Y_pred  # we are getting the output as probablities, need to convert them into 1 and 0's

Y_pred = Y_pred>0.5
Y_pred


# False means the customer will not exit and true means customer will exit

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [ True]])

In [94]:
# test accuracy #

acc = accuracy_score(Y_pred,y_test)
acc

# test accuracy for this model is 86.35%

# there is no overfitting in this model #

0.8635

In [ ]:
# Getting into hyper parameter tunning to get the best parameters for this model #
# here nodes = no. of neurons, input_dimension = no. of variables in x_train #
# This will help to identify the optimum npo. of layers for this model #
def create_model(layers, activation):
    model = Sequential()
    for i, nodes in enumerate(layers):
        if i==0:
            model.add(Dense(nodes, input_dim = x_train.shape[1]))
            model.add(Activation(activation))
            model.add(Dropout(0.2))
        else: 
            model.add(Dense(nodes))
            model.add(Activation(activation))
            model.add(Dropout(0.2))
        
    model.add(Dense(units=1,kernel_initializer='glorot_uniform',activation = 'sigmoid'))

    model.compile(metrics=['accuracy'],loss='binary_crossentropy',optimizer='adam')
    return model

In [ ]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

In [ ]:
# this will help to identify the optmimum no, of layers for this model #
model = KerasClassifier(build_fn = create_model,verbose=0)

layers = [(30,20),(10,30,50)]

activations = ['relu']

params_grid = dict(layers=layers,activation=activations,batch_size=[15],epochs=[50])

grid = GridSearchCV(estimator = model,param_grid= params_grid,cv=5)

grid_result = grid.fit(x_train,y_train)

In [ ]:
print(grid_result.best_score_)
print(grid_result.best_params_)
# train accuracy : 85.50%
# {'activation': 'relu', 'batch_size': 15, 'epochs': 50, 'layers': (30, 20)}

In [ ]:
#pred_y =grid.predict(x_test)
pred_y = pred_y>0.5

In [ ]:
acc = accuracy_score(pred_y,y_test)
acc
#test accuracy is 86%

In [ ]:
cm = grid_result.best_params_
cm

In [ ]:
#Saving the standard scaler model as well to transform the data for prtedictions #
import pickle
pickle.dump(mn1,open('mn.pkl','wb'))
b = pickle.load(open('mn.pkl','rb'))

In [ ]:
x_test.iloc[0]

CreditScore          0.666000
Age                  0.202703
Tenure               0.900000
Balance              0.000000
NumOfProducts        0.333333
HasCrCard            1.000000
IsActiveMember       1.000000
EstimatedSalary      0.193883
Geography_Germany    0.000000
Geography_Spain      0.000000
Gender_Male          0.000000
Name: 6409, dtype: float64

In [ ]:
# Set of input parameters for any random data #
m = [376,4,115046.74,4,1,119346.88,1,0,0]
v = m.reshape(-1,1)

AttributeError: ignored

In [ ]:
c = b.transform(v)

NameError: ignored

In [ ]:
# Saving the model for Predictions for any random data set #
import pickle
pickle.dump(grid,open('bank_churn.pkl','wb'))
a = pickle.load(open('bank_churn.pkl','rb'))

In [ ]:
# testing the output in any random data set #

pred =grid.predict()
pred = pred_y>0.5

In [ ]:
# The customer will
pred